.class1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.class2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
}

.class3 {
    background-color: beige;
}