<!-- <h1> Structural Directives</h1>
<li> Used to Manipulate/chabe the structure DOM Elements</li>
<li> three built in SD -> ngIf, ngfor and ngSwitch</li>
<li> * then the directive</li>


<h1>ngIf</h1>
<p *ngIf="true"> This is true block</p>
<p *ngIf="false"> This is false block</p>

<div *ngIf="5>10; else elseBlock1">
    5 is greater than 10....
</div>
<ng-template #elseBlock1>
    10 is greater than 5...
</ng-template>

<input type="text" [(ngModel)]="a" />
<input type="text" [(ngModel)]="b" />
<div *ngIf="a>b; else elseBlock2">
    a is greater than b....
</div>
<ng-template #elseBlock2>
    b is greater than a...
</ng-template>

<h1>ngFor</h1>

<p *ngFor=" let n of nums;">
    <li>{{n}}</li>
</p>

<p *ngFor=" let u of users;">
    <li>{{u.id}} -> {{u.name}} </li>
</p>

<p *ngFor=" let e of emps;">
    <li>{{e.id}} -> {{e.name}} -> {{e.dept}}</li>
</p>

<input type="text" [(ngModel)]="num" />
<div [ngSwitch]="num">
    <div *ngSwitchCase="'1'"> Its Day 1 of week. Monday!!</div>
    <div *ngSwitchCase="'2'"> Its Day 2 of week. Tuesday!!</div>
    <div *ngSwitchCase="'3'"> Its Day 3 of week. Wednesday!!</div>
    <div *ngSwitchCase="'4'"> Its Day 4 of week. Thursday!!</div>
    <div *ngSwitchCase="'5'"> Its Day 5 of week. Friday!!</div>
    <div *ngSwitchCase="'6'"> Its Day 6 of week. Saturday!!</div>
    <div *ngSwitchCase="'7'"> Its Day 7 of week. Sunday!!</div>
    <div *ngSwitchDefault> Enter the number between 1 to 7 </div>
</div>

<h1> Attribute Directives</h1>
<li> styles/ how they look</li>

<div [ngClass]="'class1'"> Only Class1 </div>
<div [ngClass]="'class2'"> Only Class2 </div>
<div [ngClass]="['class1', 'class3']"> Only Class1 and Class3 </div>
<div [ngClass]="{'class1' : true , 'class2' : false, 'class3' : true}"> Except Class2/ Only Class1 and Class3 </div>

<input type="text" placeholder="Enter a number" [(ngModel)]="clNum">
<div [ngStyle]="{'background-color' : clNum % 2 == 0 ? 'green' : 'red'}"> Applying style based on the class number </div> -->

<app-exercise></app-exercise>